# This is a weird way of telling Travis to use the fast container-based test
# runner instead of the slow VM-based runner.
sudo: false

language: go

# Only the last two Go releases are supported by the Go team with security
# updates. Any older versions be considered deprecated. Don't bother testing
# with them.
go:
- 1.11

# Only clone the most recent commit.
git:
  depth: 1

install: true

notifications:
  email: false

before_script:
- go build ./...

# script always runs to completion (set +e). If we have linter issues AND a
# failing test, we want to see both. Configure golangci-lint with a
# .golangci.yml file at the top level of your repo.
script:
- go test -v -race ./...  # Run all the tests with the race detector enabled